#faq_section {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(249deg, #011C46 -2.04%, #030722 92.2%);
    min-height: 100vh;
}

#content_faq {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0rem;
}

#faq_title  h1{
    color: #f4f4f4;
    text-align: center;
    font-size: 2.625rem;
    font-weight: 700;
    line-height: 4rem;
    margin: 2.94rem 0 2.04rem 0;
}

#faq_title span {
    color: #00DBFF;
}
#faq li {
    position: relative;
    background: #d9d9d938;
    border-radius: 0.625rem;
    margin-bottom: 1.65rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq_questions {
    padding: 2rem 0rem;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
}


.faq_questions span {
    position: absolute;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    left: 2.56rem;

}

.faq_questions p {
    opacity: .7;
    transition: .5s;
    text-align: center;
}

.faq_questions i {
    position: absolute;
    font-size: 1.50rem;
    font-weight: 700;
    right: 2rem;
    color: #00DBFF;
    transition: .5s;
}

.faq_response {
    width: 100%;
    overflow: hidden;
    height: 0;
    transition: .5s;
    display: flex;
    justify-content: center;
}

.faq_response p {
    max-width: 37.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    line-height: 1.8rem;
}

.active {
    opacity: 1;
    height: 11rem;
    transition: .5s;
    margin-top: 1.5rem;
}

@media(max-width:950px){
    .faq_questions p{
        max-width: 70%;
    }
    .faq_response p{
        max-width:70% ;
    }
    .active{
        height: 18rem;
    }
  
}
@media(max-width:500px){
    .faq_questions p{
        max-width: 50%;
        
    }
    .faq_questions{
        height: 6.7rem;
    }
    .active{
        height: 25rem;
    }
}