/* Fonts */
@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/static/Montserrat-Black.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrar, sans-serif;
}
body{
    height: 100vh;
    
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.content_sections{
    width: 80%;
}

@media(max-width: 500px){
    .content_sections{
        width: 90%;
    }
}
