/* Styling the header */
header {
    width: 100%;
    height: 9.188rem;
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    transition: background .3s, height .3s;
}

#header_content {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

#logo a img {
    width: 9.563rem;
    height: 4.938rem;
    cursor: pointer;
}

#header_nav {
    display: flex;
    list-style: none;
    gap: 2.938rem;
    line-height: 79px;
}

#hamburgerButton {
    display: none;
    color: #F4F4F4;
    cursor: pointer;
    font-size: 2rem;
}


.nav_item {
    color: #F4F4F4;
    font-weight: 800;
    opacity: .6;
    transition: all .3s;
}
.current_section {
    opacity: 1;
    font-size: 1.1rem;
}
.appearHeader{
    height: 5rem;
    background: #011b46b6;
    backdrop-filter: blur(5px);
}


@media(max-width:1030px) {
    #header_nav {
        display: none;
    }

    #hamburgerButton {
        display: inline;
        width: 1.875rem;
    }
}