#first_section {
    background: linear-gradient(115deg, #0D0046 6.35%, #030722 65.45%);
    padding: 0rem 0 3rem 0;
    display: flex;
    justify-content: center;
}

#main {
    padding-top: 9.188rem;
    display: flex;
    justify-content: space-between;

}

#main_text h1 {
    max-width: 697px;
    color: #EDEDED;
    font-size: 2.75rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
    margin-top: 3.688rem;
    position: relative;
}

.underline {
    position: relative;
    z-index: 1;
}

.underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.875rem;
    border-radius: 0.25rem;
    background: linear-gradient(90deg, #0068FF 9.49%, #00AAC6 123.77%);
    border-radius: 0.25rem;
    z-index: -1;
}

#main_text p {
    color: #F4F4F4;
    font-size: 1.063rem;
    font-weight: 600;
    max-width: 29.25rem;
    margin-bottom: 2.5rem;
}

#image_main {
    width: 22.5rem;
}

#main_buttons {
    display: flex;
}

.main_button {
    width: 9.875rem;
    height: 3.375rem;
    border-radius: 3.125rem;
    font-size: 1.063;
    font-weight: 700;
    line-height:3.25rem;
    cursor: pointer;

}

#main_first_button {
    margin-right: 3.75rem;
    border-radius: 3.125rem;
    background: linear-gradient(264deg, #02CFF1 -8.94%, #00A3FF 78.67%);
    color: #110D3E;
    border: none;
}

#main_second_button {
    background: none;
    border: solid 1px #f4f4f4;
    color: #f4f4f4;
}

@media(max-width:850px) {
    #main {
        flex-direction: column;
        align-items: center;
        padding: 3.5rem 0rem;
    }

    #main_buttons {
        justify-content: center;
        margin-bottom: 5rem;
    }

}